<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'Streetfront Digital' %></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header') %>
  
  <main>
    <%- body %>
  </main>

  <%- include('partials/footer') %>
</body>
</html>